set smarttab
set autoindent
set clipboard+=unnamed  "yank した文字列をクリップボードにコピー
set clipboard+=unnamedplus
set hls                "検索した文字をハイライトする
set smartcase
set incsearch
set ambiwidth=single
let mapleader = "\<Space>"


"------
" 最後まで飛ぶ
nnoremap L $
nnoremap H 0
vnoremap L $
vnoremap H 0

" 折り返し行移動(表示されている行で移動できる)
nnoremap j gj
nnoremap k gk
vnoremap j gj
vnoremap k gk

nmap Y byw
nmap V bve

" jjでノーマルモードに移動する&保存する
inoremap jj <ESC>

" <C-e>,<C-w>でスクロール
noremap <C-w> <C-y>
noremap <C-y> <C-w>

" 検索終わりのハイライトを消す
" ESCキー2度押しでハイライトの切り替え
nnoremap <silent><Esc><Esc> :<C-u>set nohlsearch!<CR>
nnoremap == :Format<CR>
nnoremap <Leader>= :%s/	/  /g

:command! Q q!

"--Undoをできるように
if has('persistent_undo')
  set undodir=~/.config/nvim/undo
  set undofile
endif

augroup vimrcEx
  au BufRead * if line("'\"") > 0 && line("'\"") <= line("$") |
        \ exe "normal g`\"" | endif
augroup END


